@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}



/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F5F6F9;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4375ff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #074ca5;
}